:root {
	--base-bg: #ffffff;
	--button-color: #000000;
	--text-color: #000000;
	--light-text-color: #ffffff;
	--grey-text: #656565;
	--hint-text-color: #f56060;

	--font-base: Roboto, system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	--font-serif: serif, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-base);
}

body {
	width: 100dvw;
	min-height: 100dvh;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.signup {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.signup__image-section {
	width: 98%;
	max-width: 700px;
	height: 80dvh;
	margin: 9px auto 2rem;
	position: relative;
}

.signup_image-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 20px;
	position: relative;
}

.signup__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.signup__image-logo {
	position: absolute;
	top: calc(50% - 120px);
	left: calc(50% - 109px);
	width: clamp(220px, 0.3rem + 3vw, 800px);
}

.signup__image-credits {
	position: absolute;
	top: 0;
	left: calc(50% - 100px);
	z-index: 999;
	font-size: 14px;
	text-align: center;

	color: var(--light-text-color);
	opacity: 0.3;
}

.signup__image-credits a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.4);
}

.signup__quote {
	position: absolute;
	bottom: -1.5rem;
	left: calc(50% - 46%);

	width: 90%;
	min-height: 40px;
	display: grid;
	place-content: center;
	padding: 1.2rem;

	margin: 3px;
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(15px);

	color: var(--light-text-color);
	text-align: center;
}

.signup__form-section {
	width: 98%;
	max-width: 700px;
	margin: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.signup__header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 1rem;

	color: var(--grey-text);
}

.signup__title {
	font-size: clamp(1.6rem, 2vw, 1.9rem);
}

.signup__subtitle {
	font-size: clamp(0.86rem, 2vw, 1rem);
}

.signup__social-buttons {
	width: 98%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 9px;
	margin-bottom: 1rem;
}

.signup__social-buttons a {
	width: 100%;
	padding: 0.6rem 0.2rem;
	border-radius: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 9px;

	font-size: clamp(0.8rem, 0.3rem + 3vw, 1rem);
	text-align: center;
	text-decoration: none;
	color: var(--text-color);

	background: var(--base-bg);
	border: 1.5px solid #000;
}

.signup__social-buttons a:hover {
	opacity: 0.4;
}

.social-button__icon {
	width: 36px;
}

.signup__social-buttons a:nth-child(2) {
	background: var(--button-color);
	color: var(--light-text-color);
}

.signup__social-buttons a:hover:nth-child(2) {
	opacity: 0.8;
}

.signup__divider {
	width: 98%;
	margin-bottom: 1rem;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.signup__divider-line {
	width: 40%;
	height: 1px;
	border-radius: 12px;
	background: var(--button-color);
	padding: 1px;
	opacity: 0.1;
}

.signup__divider-text {
	color: var(--grey-text);
	font-size: 1rem;
}

.signup__form {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-field {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-start;
	gap: 9px;
	margin-bottom: 1rem;
}

.form-field__label {
	width: 100%;
	font-size: clamp(1rem, 0.2rem + 2vw, 1.2rem);
	font-weight: bold;
	font-family: var(--font-serif);
}

.form-field__input {
	width: 100%;
	padding: 1rem 0.7rem;
	border-radius: 9px;
	font-size: clamp(1rem, 0.2rem + 2vw, 1.2rem);
	font-weight: lighter;

	border: 1px dotted var(--grey-text);
	cursor: text;
}

.form-field__input::placeholder {
	color: var(--grey-text);
	font-size: clamp(1rem, 0.2rem + 2vw, 1.2rem);
}

.form-field__input:focus {
	outline: var(--button-color);
	border: 1px solid var(--button-color);
}

.form-field__hint {
	color: var(--hint-text-color);
	font-size: clamp(0.9rem, 2vw, 1rem);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.form-field__input:focus + .form-field__hint {
	position: static;
	width: auto;
	height: auto;
	clip: auto;
}

.signup__submit-button {
	width: 100%;
	height: 50px;
	border: none;
	border-radius: 9px;
	margin: 1rem auto;

	background: var(--button-color);
	color: var(--light-text-color);
	font-weight: bolder;

	cursor: pointer;
}

.signup__submit-button:hover {
	opacity: 0.8;
}

.signup__footer-text,
.signup__terms {
	font-size: clamp(1rem, 0.2rem + 2vw, 1.1rem);
	margin-bottom: 1rem;
	text-align: center;
}

.signup__terms {
	margin-top: 1rem;
	color: var(--grey-text);
}

.signup__link {
	text-decoration: none;
	color: var(--grey-text);
	font-weight: bold;
}

.footer {
	width: 100%;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__text {
	text-align: center;
	font-size: clamp(0.9rem, 2vw, 1rem);
	color: var(--grey-text);
}

.footer__link {
	text-decoration: none;
	color: var(--grey-text);
	font-weight: bold;
}
